/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color-text;
}
