/* здесь используйте глобальные переменные */
$base-color-text: #444444;

$desktop-color-text:#000000;

$second-color-text:#222222;

$additional-color-text: #ffffff;

$bg-basic_green:#68b738;

$bg-basic_gray: #f2f2f2;

$desktop-width: 1440px;

$tablet-width: 768px;

$mobile-width-only: 767px;
