.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header__logo {
  height: 65px;
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  justify-content: center;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: unset;
    justify-content: flex-start;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}
