.main-header {
  min-height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.main-header--catalog {
  position: relative;
}


.main-header__logo {
  height: 65px;
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  justify-content: center;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: unset;
    justify-content: flex-start;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.main-header__logo :hover {
  opacity: 0.8;
}

.main-header__logo :active {
  opacity: 0.33;
}
