.main-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  //position: absolute;
  z-index: 1;

  @media (max-width: $mobile-width-only) {
    background-color: $bg-basic_white;
  }
}

.main-nav--close {
  position: relative;
}

.main-nav--close .main-nav__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}


.main-nav--close .main-nav__toggle {
  background-image: url("../../icons/stack.svg#burger");
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    margin-right: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 110px;
  }
}

.main-nav__toggle {
  background-color: $bg-basic_white;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#close");
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
