// .main-nav{

// }

.main-nav__toggle {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#burger");
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#close");
}

// .main-nav__list {

// }
