/* COMMON */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/container.scss";
@import "./blocks/logo.scss";
@import "./blocks/section-title.scss";
/* header */
@import "./blocks/header/header.scss";
@import "./blocks/header/nav.scss";
@import "./blocks/header/site-list.scss";
/* main */
@import "./blocks/main/main.scss";
@import "./blocks/main/hero.scss";
@import "./blocks/main/main-title.scss";
@import "./blocks/main/programm-variations.scss";
@import "./blocks/main/features.scss";
@import "./blocks/main/example.scss";
@import "./blocks/main/statistics.scss";
@import "./blocks/main/cooperation.scss";
@import "./blocks/main/compare-slider.scss";
@import "./blocks/main/map.scss";
/* main-catalog */
@import "./blocks/main/catalog-container.scss";
@import "./blocks/main/products.scss";
@import "./blocks/main/additional-products.scss";
@import "./blocks/main/subscription.scss";
/* footer */
@import "./blocks/footer/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
