// .additional-products{

// }

.additional-products__section-title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

// .additional-products__wrapper{

// }

// .additional-products__list {

// }

.additional-products__item {
  line-height: 14px;
}

.additional-products__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products__description {
  text-align: left;
}

.additional-products__price {
  text-align: right;
}

// .additional-products__link{

// }

// .additional-products__gift{

// }

.additional-products__gift-decription {
  color: $additional-color-text;
  background-color: $bg-basic_green;
  // background-image: url("../../../images/gift-backgroung-mobile@1x.jpg");
  // background-repeat: no-repeat;
}
