.cooperation {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.cooperation--catalog {
  background-color: $bg-basic_gray;
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 26px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
    gap: 308px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 60px 80px;
    background-color: $bg-basic_white;
    gap: 87px;
  }
}

.cooperation__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  width: 140px;
  white-space: pre-line;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.cooperation__address {
  font-style: normal;
  line-height: 20px;
  text-align: left;
  width: 140px;
  white-space: pre-line;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 157px;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 159px;
    text-align: unset;
  }
}
