// .features {

// }

// .features__wrapper{

// }

.features__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

// .features__list {

// }

// .features__item{

// }

// .features__item--natural{

// }

// .features__item--powder{

// }

// .features__item--eating{

// }

// .features__item--change{

// }

.features__description {
  text-align: left;
}
