.hero {
  position: relative;
}

.hero__wrapper {
  background-color: $bg-basic_green;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../images/hero-background-mobile@1x.jpg");
  background-position: 50% 0;
  margin-bottom: 138px;
  min-height: 302px;
  color: $additional-color-text;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    color: $desktop-color-text;
    background-image: none;
    background-color: #ffffff;
    margin-bottom: 0;
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.hero__slogan {
  font-family: $secondary-font;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 335px 50px 90px;
    width: 283px;
  }
}

.hero__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hero__button-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    position: absolute;
    top: 350px;
    left: 90px;
    width: 244px;
  }
}

.hero__choose-pr {
  display: block;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
  }
}
