.hero {
  position: relative;
  background: url("../../../images/hero-background-mobile@1x.jpg") 50% no-repeat, linear-gradient(0deg, $bg-basic_white 0%, $bg-basic_white 37%, $bg-basic_green 37%) 50% no-repeat;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;

  @media (min-width: 495px) {
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $bg-basic_white;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../images/hero-background-desktop@1x.jpg") 50% no-repeat, linear-gradient(90deg, $bg-basic_white 0%, $bg-basic_white 50%, $bg-basic_green 50%) 50% no-repeat;
    background-size: contain;
    background-position: 100% 100%;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../../images/hero-background-desktop@2x.jpg") 50% no-repeat, linear-gradient(90deg, $bg-basic_white 0%, $bg-basic_white 50%, $bg-basic_green 50%) 50% no-repeat;
  }
}

.hero__wrapper {
  position: relative;
  text-align: center;
  color: $additional-color-text;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-left: 120px;
    color: $desktop-color-text;
    margin-bottom: 0;
    padding-top: 55px;
    min-height: 865px;
    justify-content: unset;
  }

  @media (min-width: $desktop-width) {
    padding: 224px 190px 52px;

    min-height: 694px;
  }
}

.hero__wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../../../images/hero-mobile@1x.png");
  left: 50%;
  transform: translateX(-50%);
  bottom: 43px;
  background-size: 280px 270px;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 280px;
  height: 270px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../images/hero-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    bottom: 0;
    background-size: 709px 609px;
    background-image: url("../../../images/hero-tablet@1x.jpg");
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    transform: unset;
    left: unset;
    bottom: 52px;
    right: 331px;
    background-size: 552px 499px;
    background-image: url("../../../images/hero-desktop@1x.png");
    width: 552px;
    height: 499px;
  }
}

.hero__title.main-title {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.hero__slogan {
  font-family: $secondary-font;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 283px;
    margin-bottom: 50px;
    margin-top: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    line-height: 20px;
  }
}

.hero__image {
  height: 270px;

  @media (min-width: $tablet-width) {
    height: unset;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 143px;
    left: 557px;
    transform: none;
  }
}

.hero__choose-pr {
  display: block;
  padding: 10px 20px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 242px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: unset;
    position: relative;
    left: unset;
  }
}


.hero__choose-pr:hover {
  background-color: #5eaa2f;
}

.hero__choose-pr :active {
  opacity: 0.33;
}
