.map {
  position: relative;
  z-index: 1;
  background-color: $bg-basic_gray;
}

.map::after {
  position: absolute;
  content: "";
  background-image: url("../../../images/map-pin@1x.png");
  left: 50%;
  transform: translateX(-50%);
  top: 139px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 56px;
  height: 52px;

  @media (min-width: $tablet-width) {
    top: 146px;
    width: 113px;
    height: 106px;
  }

  @media (min-width: $desktop-width) {
    top: 131px;
    transform: unset;
    left: unset;
    right: 419px;
  }
}

.map__img {
  width: 100%;
}
