.products__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.products__container-title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $desktop-color-text;
  text-align: left;
  margin: 0;
  margin-bottom: 41px;
  width: 259px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
    width: 450px;
  }
}

.products__list {
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    gap: 61px 80px;
  }
}

.products__item {
  width: 280px;
  min-height: 209px;
  padding-top: 20px;
  padding-bottom: 25px;
  border: 1px solid #ebebeb;
  display: grid;
  grid-template-areas:
    "img title"
    "img desc"
    "btn btn";

  @media (min-width: $tablet-width) {
    min-height: 511px;
    width: 324px;
    background: linear-gradient(to bottom, $bg-basic_white 16%, $bg-basic_gray 16%, $bg-basic_gray 84%);
    border: none;
    padding: 10px 37px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.products__item--more {
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top 25px center;
  padding-top: 73px;
  min-height: 207px;

  @media (min-width: $tablet-width) {
    background-color: $bg-basic_white;
    background-size: 60px 60px;
    background-position: top 132px center;
    padding-top: 242px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 230px;
  }
}

.products__item--more .products__text {
  grid-row: 2/3;
  grid-column: 1/-1;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.products__item--more .products__title {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 204px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 134px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.products__more-desc {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-top: 23px;
    font-size: 16px;
    line-height: 18px;
  }
}

.products__link-text {
  text-decoration: none;
  color: $base-color-text;
}

.products__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
  }
}

.products__link-img {
  align-self: center;
  grid-area: img;
  width: 140px;
  height: 100%;
  text-align: center;
  padding-top: 3.5px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: unset;
    height: unset;
    margin-bottom: 19px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 5px;
  }
}

.products__link-img--small {
  padding-top: 14.5px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}


.products__image {
  @media (min-width: $tablet-width) {
    height: 210px;
  }

  @media (min-width: $tablet-width) {
    height: unset;
  }
}

.products__text {
  grid-area: title;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.products__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  width: 140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 50px;
  grid-area: desc;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    gap: 10px 80px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    gap: 12px 70px;
    margin-bottom: 42px;
  }
}

.products__option {
  align-self: start;
}

.products__value {
  margin: 0;
}

.products__button {
  grid-area: btn;

  @media (min-width: $tablet-width) {
    padding: 10px 94px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
  }
}

.products__button.button--secondary {
  display: block;
  padding: 10px 79px;

  @media (min-width: $desktop-width) {
    padding: 10px 39px;
  }
}
