// .products {

// }

// .products__wrapper{

// }

// .products__list {

// }

// .products__item{

// }

// .products__item--more{

// }

.products__more-desc {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

// .products__link-img{

// }

.products__link-text {
  text-decoration: none;
  color: $base-color-text;
}

// .products__image{

// }

// .products__text{

// }

.products__title {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.products__description {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

// .products__option {

// }

// .products__value {

// }

// .products__button{

// }
