.programm-variations__wrapper {
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.programm-variations__list {
  width: 280px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    width: fit-content;
  }
}

.programm-variations__item {
  background-color: $bg-basic_gray;
  padding: 30px 33px 18px 20px;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programm-variations__item::before {
  content: "";
  display: block;
  position: absolute;

  @media (min-width: $tablet-width) {
    left: 450px;
  }
}

.programm-variations__item--slim::before {
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#cat-slim-icon");

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.programm-variations__item--gain::before {
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-gain-icon");

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    left: 420px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
  }
}


.programm-variations__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-left: 91px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

.programm-variations__description {
  text-align: left;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 48px;
  }
}

.programm-variations__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programm-variations__link::after {
  content: "";
  background-color: #000000;
  width: 24px;
  height: 12px;
  transition: all, all 1.3s;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-position: 100%;
  mask-size: 24px 12px;
  mask-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 7px;
  left: 100px;

  @media (min-width: $tablet-width) {
    left: 120px;
  }
}
