// .programm-variations {

// }

// .programm-variations__wrapper{

// }

// .programm-variations__list {

// }

.programm-variations__item {
  background-color: $bg-basic_gray;
}

// .programm-variations__item--slim{

// }

// .programm-variations__item--gain{

// }

.programm-variations__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}

.programm-variations__description {
  text-align: left;
}

.programm-variations__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
