.programm-variations__wrapper {
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: unset;
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
    padding-bottom: 75px;
  }
}

.programm-variations__list {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    width: fit-content;
  }
}

.programm-variations__item {
  background-color: $bg-basic_gray;
  padding: 30px 33px 20px 20px;
  position: relative;
  min-height: 266px;


  @media (min-width: $tablet-width) {
    padding: 77px 63px 53px 53px;
    min-height: 372px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 52px 55px;
  }
}

.programm-variations__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;

  @media (min-width: $tablet-width) {
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    left: unset;
    top: 41px;
  }
}

.programm-variations__item--slim::before {
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#cat-slim-icon");

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 81px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }
}

.programm-variations__item--gain::before {
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-gain-icon");
  left: 13px;
  top: 25px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    left: unset;
    right: 29px;
    top: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    left: 33px;
    top: 47px;
  }
}

.programm-variations__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
    width: 264px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.programm-variations__description {
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
  padding-bottom: 23px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 54px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    margin-bottom: 27px;
  }
}

.programm-variations__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.programm-variations__link::after {
  content: "";
  background-color: #000000;
  width: 24px;
  height: 12px;
  transition: all, all 1.3s;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-position: 100%;
  mask-size: 24px 12px;
  mask-repeat: no-repeat;
  display: block;
}

.programm-variations__link:active {
  opacity: 0.33;
}
