.statistics__wrapper {

  width: fit-content;
}

.statistics__list {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 42px;
    justify-content: unset;
    width: fit-content;
  }
}

.statistics__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
  padding: 14px 20px;
  width: 124px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 20px;
    width: 162px;
  }
}

.statistics__description {
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}
