.subscription {
  font-family: $secondary-font;
}

.subscription__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: fit-content;
  }
}

.subscription__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}


.subscription__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscription__form {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: fit-content;
  }
}

.subscription-input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 16px;
  padding: 13px;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
  }
}

.subscription__button {
  padding: 14px 82px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
  }
}
