.subscription {
  font-family: $secondary-font;
}

.subscription__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

// .subscription__wrapper{

// }

.subscription__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

// .subscription__form{

// }

.subscription-input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.subscription__button {
  padding: 14px 109px;
}
