.button {
  text-decoration: none;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.button--primary {
  @include button($bg-basic_green, $additional-color-text);
}

.button--secondary {
  @include button($bg-basic_gray,  $base-color-text);
}
