// Стили для центровщика контента
.container-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}
