.logo__image {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}


.logo__text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
