.site-list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    flex-direction: row;
    gap: 33px;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: $additional-color-text;
    flex-direction: row;
  }
}

.site-list__item {
  padding: 22px 44px;
  border-bottom: 1px solid rgb(230, 230, 230);
  min-width: fit-content;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}
