.main-footer {
  background-color: $bg-basic_gray;
}

.main-footer .container-wrapper {
  width: 100%;
}

.main-footer__wrapper {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.main-footer__social {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  width: 132px;
}
